numpy==1.22.3
pandas~=1.1.5
torch==1.12
transformers==4.11.3
pytorch-lightning==1.6.4
huggingface_hub
seaborn
mpl-scatter-density
astropy==5.1
gitpython
biotite==0.34
scikit-learn==1.2.1
requests